.drawer-content {
    width: 300px;
}

button.btn-drawer {
    position: fixed;
    top: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

.align-right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.align-right .MuiListItemText-root {
    margin-right: 16px;
}

.align-right .MuiListItemAvatar-root {
    margin-left: 16px;
}

.align-right-text {
    text-align: right;
}