.void {
  fill: black;
  fill-opacity: 0.1;
}

.discover {
  fill-opacity: 0.4;
}

.void:hover {
  fill: aliceblue;
  fill-opacity: 0.5;
}

.void.clicked {
  fill: "ship1";
}

.planet:hover {
  fill-opacity: 0.7;
}

.toHide {
  fill: black;
  fill-opacity: 1;
}

.movable {
  fill: rgb(209, 210, 212);
  fill-opacity: 0.3;
}

.path {
  fill: aliceblue;
  fill-opacity: 0.5;
}

.d1 {
  fill-opacity: 0.1;
}
.d2 {
  fill-opacity: 0.2;
}
.d3 {
  fill-opacity: 0.3;
}
.d4 {
  fill-opacity: 0.4;
}
.d5 {
  fill-opacity: 0.5;
}
.d6 {
  fill-opacity: 0.6;
}
.d7 {
  fill-opacity: 0.7;
}
